$font: "Montserrat", sans-serif;

//Breakpoints
$desktop: "1367px";
$laptop: "1220px";
$medium: "1025px";
$tablet: "770px";
$mobile: "451px";

//colors
$primary: #012e7c;
$secondary: #70bcff;
$primary-dark: #00143a;
$white: #ffffff;
$black: #000000;
