$font: 'Montserrat',
  sans-serif;

//Breakpoints
$desktop: '1367px';
$laptop: '1220px';
$medium: '1025px';
$tablet: '770px';
$mobile: '451px';

//colors
$primary: #017c5b;
$secondary: #bfffc3;
$primary-dark: #003a2a;
$white: #ffffff;
$black: #000000;