.public {
  display: flex;
  height: 100vh;
  background-color: #eee;
  justify-content: center;
  align-items: center;
  background: url("../../assets/images/login-bg.png"),
    linear-gradient(163deg, $secondary 0%, $primary 100%);

  .public-form {
    background-color: #FFF;
    padding: 30px;
    border-radius: 15px;
    margin: 0 10px;
    max-width: 350px;
  }
}